body {
    margin: 0;
    height: 100vh;
    background: #ffc8de;
    overflow: hidden;
}
.login-header {
    position: relative;
    height: 100vh;
}


.welcome-text {
    position: absolute;
    width: 100%;          /* العرض كامل الصفحة */
    white-space: nowrap;  /* خلي النص كله في سطر واحد */
    font-family: 'Pacifico', cursive;
    font-size:11px;
    text-align: center;   /* توسيط النص داخل العنصر */
top: 100px;         
}
.fpass{
position: relative;
    font-family: 'Pacifico', cursive;
    font-size:19px;
top: 200px;         
left:690px;
padding: 0px;
}
.pass{
    margin: 0;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 8px;
    opacity: 0;
    transition: 0.3s ease;
}

.hint{
    font-size: 14px;
    font-weight: bold;
}































.hearts span {
    position: absolute;
    bottom: -50px;
    font-size: 30px;
    animation: float 5s linear infinite;
}

.hearts span:nth-child(1) {
    left: 10%;
    animation-duration: 6s;
}

.hearts span:nth-child(2) {
    left: 30%;
    animation-duration: 8s;
}

.hearts span:nth-child(3) {
    left: 50%;
    animation-duration: 5s;
}

.hearts span:nth-child(4) {
    left: 70%;
    animation-duration: 7s;
}

.hearts span:nth-child(5) {
    left: 90%;
    animation-duration: 9s;
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}
