body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #9370DB, #2a2aff);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* يخلي الصفحة طويلة مرتين ارتفاع الشاشة */
    padding-top: 150px;  /* مساحة فوق العداد */
    padding-bottom: 150px; /* مساحة تحت العداد */
}

.video-section {
    display: flex;
    justify-content: center;
    margin-top: 188px;
    margin-bottom: 100px;
}

.video-section video {
     width: 320px;
     /*مناسبلفيديوبالطول*/border-radius: 20px;
     box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
     transform: rotate(-90deg);
     /*أو-90degحسبالاتجاه*/width: auto;
     height: 300px;
     /*غيرحسبالمساحة*/:;
     -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
}

/* Navbar عايم */
.navbar {
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    z-index: 1000;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    transform: scale(1.1);
}

.navbar a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}
.navbar a:hover::after { width: 100%; }
.message{
    font-family: Arial, sans-serif;
    color: white;
font-size: 48px;
font-weight: bold;
}